:root {
    --darkgreen: #64a19d;
    --brown: #8a746e;
    --darkgrey: #555259;
    --grey: #adb3a7;
  }

.member {
    position: relative;
    width: 350px;
    }


  .memberimage {
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    background-color: var(--darkgreen);
    width: 100%;
    transition: 0.5s ease;
    height: 0;
  }

  .hovertext {
    color: white;
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .member:hover .overlay {
    height: 20%;
  }

  .btn-c {
    width: 150px;
  }

  .logo {
    max-height: 300px;
  }

  .linkheader {
    text-decoration: none !important; 
  }

  .text-red {
    color: red;
  }

  .text-strikethrough {
    text-decoration: line-through;
    }

    i {
      color: #d17d94;
    }


  .responsive-img {  width: 100%;  height: auto; } 


  .verein a {
    text-decoration: none;
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalbutton {
  background: none;
	border: none;
  color: #768d8f;
	padding: 0;
	cursor: pointer;
  text-decoration: underline;
}

.paramodal {
  padding: 0;
  margin: 0;
}

.h3modal {
  margin-top: 24px;
}